/* .header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background: #000;
}

.inhead {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background: #9e1414;
} */
