.main,
.others {
  padding: 1rem 0;
  border-bottom: 1px solid #cac6c6;
  /* background-color: #00000033; */
}

/* .main h2,
.others h2 {
  padding-bottom: 0.5rem;
} */

/* .lists li {
  padding: 2px;
  margin: 5px;
  background-color: #edfff5;
} */
